.Item{
    padding-left: 5%;
    padding-bottom: 4%;
}

.ItemLink{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.Item:hover{
    cursor: pointer;
}


@media(max-width: 1000px){
    .Item{
        font-size: large;
        padding-left: 5%;
        padding-bottom: 10%;
    }    
}