
.contact{
    max-width: 76%;
    flex: 76%;
    text-align: center;
    display: flex;
    height: 181%;   
    flex-direction: column;
    padding: 5% 0% 2% 0%;
}


.socialMedia{
    margin: 2% 3%;
}
.fb{
    width: 15%;
    padding-left: 2%;
}
.insta{
    width:11%
}

.cForm{
    margin-top:2%;
    width: 100%;
    height: 130%;
  }

@media(max-width: 800px){
    .contact{
        text-align: center;
        max-width: 100%;
        flex: 100%;  
        padding: 5%;
    }
    .socialMedia{
        width: 100%;
    }
    .cForm{
        width: 120%;
        height: 1200px;
    }
}