
.contact{
    font-family: 'reg';
    max-width: 64%;
    flex: 64%;
    max-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3% 0% 1% 0%;
}

.contact p{
    font-size:  x-large;
}

.socialMedia_contact{
    margin: 2% 3%;
}
.fb{
    width: 12%;
    padding-left: 2%;
}
.insta{
    width:9%
}

.cForm{
    margin-top:2%;
    width: 100%;
    height: 1100px;
}

@media(max-width: 1000px){
    .contact{
        text-align: center;
        max-width: 100%;
        flex: 100%;  
        padding: 5%;
    }
    .socialMedia{
        width: 100%;
    }
    .cForm{
        width: 120%;
        height: 1200px;
    }
}