.LeftNavigator{
    font-family: lig;
    height: 75%;
    flex: 33%;
    max-width: 33%;
    text-align: left;
    padding: 1% 0% 0% 3%;
}

.socialMedia{
    margin: 20% 3%;
}
.fb{
    width: 15%;
    padding-left: 2%;
}
.insta{
    width:11%
}

.Menu{
    font-family: lig;
    position: absolute;
    top: 5%;
    right: 5%;
    box-shadow: none;
    border: none;
    text-shadow: none;
    background: none;
    font-size: x-large;
  }

@media(max-width: 800px){
    .LeftNavigator{
        padding: 3%;
        flex:100%;
        max-width: 100%;
        display: block;
        float: inherit;
    }
    .socialMedia{
        text-align: center;
        margin: 20% 3% 10% 3%;
    }
}