.LeftNavigator{
    font-family: lig;
    height: 75%;
    flex: 30%;
    max-width: 30%;
    text-align: left;
    padding: 1% 0% 0% 3%;
}

.socialMedia{
    margin: 20% 3%;
}
.fb{
    width: 15%;
    padding-left: 2%;
}
.insta{
    width:11%
}

.Menu{
    position: absolute;
    top: 7%;
    left: 80%;
    width: 10%;
  }

@media(max-width: 1000px){
    .LeftNavigator{
        padding: 3%;
        flex:100%;
        max-width: 100%;
        display: block;
        float: inherit;
    }
    .socialMedia{
        text-align: center;
        margin: 20% 3% 10% 3%;
    }
}