
.PortfolioRow{
    flex: 76%;
    max-width: 76%;
    max-height: 80%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0% 1% 0%;
    float: inherit;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.PortfolioRow::-webkit-scrollbar {
    display: none;
}

.title{
    position: absolute;
    right: 35%;
}
@media(max-width: 800px){
    .PortfolioRow{
        padding: 1% 0;
        flex:100%;
        max-width: 100%;
        text-align: center;
        display: inline-flex;
    }
}


