
.TitleSite{
    font-family: bol;
    padding-top: 3%;
    font-size: medium;
    flex: 100%;
    max-width: 100%;
    text-align: left;
}

.TitleSite:hover{
    cursor: pointer;
}

@media(max-width: 800px){
    .TitleSite{
        flex: 50%;
        max-width: 50%;
        font-size: small;
    }
}