@font-face {
    font-family: titleFont;
    src: url(Sanlulus.otf);
}

.TitleSite{
    font-family: titleFont;
    padding-top: 3%;
    padding-left: 4%;
    font-size: larger;
    flex: 100%;
    max-width: 100%;
    text-align: left;
}

.TitleSite:hover{
    cursor: pointer;
}

@media(max-width: 800px){
    .TitleSite{
        flex: 50%;
        max-width: 50%;
        font-size: small;
    }
}