@font-face {
    font-family: aTitle;
    src: url(MomcakeThin.otf);
}
@font-face {
    font-family: aContent;
    src: url(TexgyrebonumRegular.otf);
}
.titleA{
    font-family: aTitle;
}

.aboutWrapper{
    flex: 76%;
    height: 100%;
    overflow: scroll;
    max-width: 76%;
}

.about{
    font-family: aContent;
    max-width: 100%;
    flex: 100%;
    text-align: left;
    display: flex;
    height: 70%;   
    padding: 10% 0% 2% 0%;
}

.description{
    padding: 1.20% 3%;
}

.author{
    display: block;
    height: 52%;
    padding: 8% 4% 0 0;

}

.form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.contact{
    padding-top:3%;
    width: 80%;
}

.contactForm{
    width: 100%;
    height: 1100px;
    padding-top: 3%;
  }
@media(max-width: 800px){
    .aboutWrapper{
        flex:100%;
        max-width: 100%;
    }
    .about{
        text-align: center;
        display: block;        
        padding: 8% 5%;
    }
    .author{
        display: block;
        width: 90%;
        padding: 2% 5%;
    
    }
    .contactForm{
      height: 1200px;
    }
    
}