@font-face {
  font-family: menuF;
  src: url(MomcakeThin.otf);
}


.AppContainer {
  display: flex;
  height: 100%;
  width: 98%;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

@media(max-width: 800px){
  .AppContainer{
    display: block;
    height: auto;
    width: 100%;
  }
}