
@font-face {
  font-family: reg;
  src: url(Fonts/Futura_SCTOT_Light.ttf);
}
@font-face {
  font-family: lig;
  src: url(Fonts/Futura_Std_Light.ttf);
}
@font-face {
  font-family: bol;
  src: url(Fonts/BebasNeue-Regular.ttf);
}


.AppContainer {
  display: flex;
  height: 100%;
  width: 98%;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

@media(max-width: 1000px){
  .AppContainer{
    display: block;
    height: auto;
    width: 100%;
  }
}