.NavigatorShade{
    font-size: xx-large;
    padding: 6%;
}

.NavigatorShade:hover{
    cursor: pointer;
}

.ShadeLink{
	text-decoration: none;
    color: black;
    font-size: x-large;
}

@media(max-width: 1000px){
    .NavigatorShade{
        font-size: large;
        padding-bottom: 10%; 
    }    
}