.NavigatorShade{
    padding-left: 3%;
    font-size: x-large;
}

.NavigatorShade:hover{
    cursor: pointer;
}


@media(max-width: 800px){
    .NavigatorShade{
        font-size: large;
    }    
}